body {
  background-image: url(/fondo2.jpeg);
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px); /* Inicia más arriba */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Llega a su posición normal */
  }
}

.aparecer {
  animation: fadeInDown 10s ease-out; /* 1s de duración */
}

#principal, #titulo, #nombre, #frase, #image, #card, #card-time, .fecha, .countdown,
#faltan, #regalo,#container-reloj, #container-final {
  animation: fadeInDown 10s ease-out;
}

:root {
  --font-principal: 'Crimson Text', serif;
  --font-secundaria: 'Lavishly', cursive;
  --color-principal: black
}

#principal {
  background-image: url('/arco2.png');
  background-size: cover;
  background-position: center;
  width: 90%;
  max-width: 426px; 
  min-height: 800px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

#titulo {
  color: #4C3BCF;
  font-family: var(--font-monteCarlo);
  font-size: 46px;
  margin-bottom: 5px;
  font-weight: 500;
}

#nombre {
  color: #000000;
  font-family: var(--font-lavishly);
  font-size: 75px;
  text-align: center;
  margin-top: 0px;
  line-height: 1;
  margin-bottom: 0px;
}

#image{
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 5px;
}

#frase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#frase{
  max-width: 500px;
  color: var(--color-principal);
  text-align: center;
  font-family: var(--font-principal);
  font-size: 24px;
}

.fecha{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.fecha svg{
  max-width: 500px;
}

#container-reloj{
  background-color: #A1E3F9;
}

.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-style: 'Crimson Text', serif;
    
    color: rgba(0, 0, 0, 0.765);
    margin-top: 0px;
}

#final{
  color: var(--color-principal);
  font-size: 32px;
  font-family: var(--font-principal);
  
}

#card, #card-time {
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 15px;
}

#icon, #icon-time {
  margin-top: 0%;
  margin-bottom: 0%;
  flex-shrink: 100;
  align-items: center;
}

#ubicacion, #time {
  text-align: center; 
  margin-top: 0%;
  margin-bottom: 0%;
}

#ubicacion h2, #time h2 {
  color:var(--color-principal);
  font-family: var(--font-principal);
  margin-bottom: 0%;
  font-size: 32px;
}

#ubicacion p, #time p {
  color:var(--color-principal);
  font-family: var(--font-principal);
  font-size: 32px;
  margin-top: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

#regalo{
  margin-top: 0px;
  margin-bottom: 0px;
}

#faltan{
  color: var(--color-principal);
  font-family: var(--font-principal);
  font-size: 32px;
  margin-bottom: 0px;
  margin-top: 0px;
}



#top-left{
  background-image: url(/top-left.png);
  background-size: cover;
  background-position: right;
  width: 90%;
  max-width: 150px; 
  min-height: 300px;
  height: 90%;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  margin-left: -10px;
  margin-bottom: -300px;
}

#pie-de-pagina{
  background-image: url(/pie-de-pagina.png);
  background-size: cover;
  background-position: right;
  width: 90%;
  max-width: 100px; 
  min-height: 150px;
  height: 90%;
  display: flex;
  border-radius: 10px;
  margin-top: -120px;
  margin-left: 70%;
  
}

#invitacion{
  color:var(--color-principal);
  font-family: var(--font-principal);
  margin-top: 0;
  font-size: 32px;
}

@keyframes bounceUp {
  0% {
    opacity: 0;
    transform: translateY(100px); /* Comienza fuera de pantalla */
  }
  50% {
    opacity: 1;
    transform: translateY(-20px); /* Rebota hacia arriba */
  }
  75% {
    transform: translateY(10px); /* Rebote hacia abajo */
  }
  100% {
    transform: translateY(0); /* Posición final */
  }
}

#final {
  animation: bounceUp 1.5s ease-out;
}

.input-label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #333;
}

.custom-input {
  width: 80%;
  padding: 6px;
  margin-top: 8px;
  font-size: 1.1rem;
  border: 2px #A1E3F9; /* azul */
  border-radius: 8px;
  color: black; /* azul oscuro */
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: center;
  background-color: #A1E3F9;
}


/* Línea animada */
.input-container::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 5%;
  width: 90%;
  height: 2px;
  background-color: #2563eb;
  animation: fadeInLine 1.5s ease-in-out forwards;
  opacity: 0;
}

.custom-button {
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #A1E3F9; /* Azul */
  border: 2px solid #A1E3F9;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
  font-weight: bold;
}

.custom-button:hover {
  background-color: #A1E3F9; /* Azul más oscuro */
  border-color: #A1E3F9;
  transform: translateY(-2px); /* Efecto de elevación */
}

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.custom-button:disabled {
  background-color: #a1c4fc;
  border-color: #a1c4fc;
  cursor: not-allowed;
}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que se muestra sobre otros elementos */
}

.alert-box {
  background-color: #A1E3F9;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-message {
  flex-grow: 1;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 10px;
}

.button-label {
  background: #A1E3F9;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  width: 35px;
  height: 35px;
  padding: 6px;
  margin: 10px;
  font-weight: bold;
}
